NET "CLK" LOC = AE14;
NET "RST" LOC = D6;

###LCD PINS
NET "LCD_RS"   LOC = AC17;
NET "LCD_RW"   LOC = AB17;
NET "LCD_EN"    LOC = AE13;
NET "LCD_DB<4>" LOC = AB10;
NET "LCD_DB<5>" LOC = AC10;
NET "LCD_DB<6>" LOC = AE12;
NET "LCD_DB<7>" LOC = AF12;

###NEWS BUTTONS

###UART PINS
NET "SER_OUT" LOC = W1;
NET "SER_IN" LOC = W2;

###PS2 PINS
NET "PS2_Clock" LOC = D2;
NET "PS2_data_in" LOC = G9;

NET "PS2_Clock" CLOCK_DEDICATED_ROUTE = FALSE;